body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.container label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.container select,
.container input[type="text"],
.container input[type="email"],
.container textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.container textarea {
  resize: vertical;
  height: 100px;
}

.container input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container input[type="submit"]:hover {
  background-color: #45a049;
}
#review:focus {
  border-color: none;
  outline: none;
}
